/* --- IMPORTER FONTS ØVERST --- */

/* Brush Up fra Adobe Fonts (Typekit) */
@import url('https://use.typekit.net/wtj2bed.css');

/* Poppins fra Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



:root {

    /* Font-variabler */
  --font-brushup: 'brush-up', cursive;
  --font-poppins: 'Poppins', sans-serif;


  --sort: #212C23; /* sort */
  --morkegroen: #2A5945; /* mørkegrøn */
  --tyrkisgroen: #5CAB7A; /* tyrkisgrøn */
  --rod: #FB6255; /* rød */
  --lyserod: #FB97AA; /* lyserød */
  --lysegroen: #C0E59C; /* lysegrøn */
  --brun: #853714; /* brun */
  --beige: #FFF9CB; /* beige */
  --nav-beige: rgba(242, 237, 197, 0.8); /* beige 80% (til nav) */
  --off-white: #FDF7ED; /* off-white */
  --404-beige: #F7DFA4; /* beige til 404-side */
}
html,
body {
  height: 100%;
  overflow-y: auto;   /* tillad kun vertikal scroll */
  overflow-x: hidden; /* forhindrer horisontal scroll */
  touch-action: none; /* tillad kun vertikale bevægelser */
  overscroll-behavior-x: none; /* fjern “bounce” sideværts på iOS */
}
