/* ---------- GENERELT ---------- */
.create-page {
  padding: 1.5rem;
  background-color: var(--off-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.leftButton {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -16px; /* skubber den ud over kanten */
}
.profileButton {
  width: 72px;
  height: 72px;
  background: #FB6255; /* rød */
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.profileButton:hover {
  background: var(  --rod);
}
.profileButton:active {
  background: var(  --rod);
}
.topButton {
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}
.profileIcon {
  width: 28px;
  height: 28px;
  object-fit: contain;
  filter: brightness(0) saturate(100%) invert(95%) sepia(17%) saturate(572%)
    hue-rotate(17deg) brightness(105%) contrast(96%);
}
